a{
color:orange;
text-decoration: none;
font-size:30px;
}
p{
    font-size:"100px";
    text-decoration: none;
    padding:2px 10px;
    color:orange;}
p:hover{
background-color:grey;
}
body{ 
  background: url(edu1.JPG) no-repeat ; 
  background-size: cover;
}
#demo{
text-align:right;
}
div
{
margin:50px;
color:orange;}